<mat-toolbar class="bg-white">
  <button mat-icon-button class="example-icon" (click)="goBack()" aria-label="Atrás" *ngIf="dataService.getRuta() != '/home' && dataService.getRuta() != '/login' && dataService.getRuta() != '/register'">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>
    <a class="navbar-brand text-black">Invitados {{ruta}}</a>
  </span>
  <span class="example-spacer"></span>
  <button *ngIf="auth.isLoggedIn() && dataService.getRuta() == '/home'" mat-icon-button class="example-icon favorite-icon" (click)="goBack()"
    aria-label="Recargar">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="beforeMenu" *ngIf="auth.isLoggedIn()">
    <mat-icon *ngIf="!auth.getCurrentUser()?.photoURL">account_circle</mat-icon>
    <img *ngIf="auth.getCurrentUser()?.photoURL" class="rounded-circle" width="30" src="{{auth.getCurrentUser()?.photoURL}}"/>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <span mat-menu-item *ngIf="!auth.getCurrentUser()?.displayName" disabled>{{auth.getCurrentUser()?.email}}</span>
    <span mat-menu-item *ngIf="auth.getCurrentUser()?.displayName" disabled>{{auth.getCurrentUser()?.displayName}}</span>
    <button mat-menu-item (click)="goToProfile()" class="d-flex justify-content-between align-items-center">
      Perfil
    </button>
    <button mat-menu-item (click)="logout()" class="d-flex justify-content-between align-items-center">
      Salir
    </button>
  </mat-menu>

  <button *ngIf="!auth.isLoggedIn()" mat-flat-button class="example-icon favorite-icon" (click)="goLogin()"
    aria-label="login">
    Iniciar sesion
  </button>
  <button *ngIf="!auth.isLoggedIn()" mat-flat-button class="example-icon favorite-icon" (click)="goRegister()"
    aria-label="register">
    Registro
  </button>
</mat-toolbar>