<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLinkActive="active-link">
    <mat-icon class="material-icons">
      star_border</mat-icon>
  </button>
  <button mat-fab routerLinkActive="active-link" color="primary" (click)="goToNew()" class="add-button">
    <mat-icon class="material-icons icon-add">
      add
    </mat-icon>
  </button>
  <button mat-flat-button routerLinkActive="active-link">
    <mat-icon class="material-icons">history</mat-icon>
  </button>
</mat-toolbar>