<!--<mat-toolbar class="toolbarNav" color="primary">
  <button mat-icon-button routerLinkActive="active-link">
    <mat-icon class="material-icons">
      star_border</mat-icon>
  </button>
  <button mat-fab routerLinkActive="active-link" (click)="goToNew()" class="add-button">
    <mat-icon class="material-icons icon-add">
      add
    </mat-icon>
  </button>
  <button mat-icon-button routerLinkActive="active-link">
    <mat-icon class="material-icons">history</mat-icon>
  </button>
</mat-toolbar>-->

<button mat-fab routerLinkActive="active-link" (click)="goToNew()" class="add-button" color="primary">
  <mat-icon class="material-icons icon-add">
    add
  </mat-icon>
</button>