$heightAvatar: 60px;
$widthAvatar: 60px;

.titleSpan{
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    text-transform: uppercase;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0;
    width: 15%;
    align-self: center;
}

.valueSpan{
    align-self: center;
}

.min-height-48{
    min-height: 48px;
}

.avatar{
    overflow: hidden;
    display: inline-block;
    border-radius: 500px;
    height: $heightAvatar;
    width: $widthAvatar;
}

.avatar>img{
    height: $heightAvatar;
}