::ng-deep .list-invite-group .mat-list-item-content {
  padding: 0 !important;
}

.mat-subheader {
  padding: 0 !important;
  display: contents !important;
}

.titleSpan {
  letter-spacing: 0.07272727em;
  font-size: 0.5875rem;
  font-weight: 800;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
  margin: 0;
  padding: 0;
}

.subTitleSpan {
  letter-spacing: 0.07272727em;
  text-transform: uppercase;
  font-weight: 500;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: #8d939b;
  margin: 0;
  padding: 0 0.5rem;
  display: inline-block !important;
  border-radius: 5px;
}

.font-size-10{
  font-size: 10.5px;
}

.font-size-70-rem{
  font-size: .70rem !important;
}

.bg-primary-material{
  background-color: #673AB7;
  color: #fff;
}

.btn-dialog {
  width: 48%;
}

.mat-list-base .mat-list-item.mat-2-line, .mat-list-base .mat-list-option.mat-2-line{
  height: 50px;
}
