<form class="form-filter">
  <mat-form-field
    class="form-filter-full-width"
    appearance="fill"
    #formSearch
    [class.sticky]="sticky"
  >
    <mat-label> Buscar invitado </mat-label>
    <input
      type="text"
      placeholder="Invitado"
      aria-label="Invitado"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autocapitalize="true"
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="filterInvitados($event.option.value)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.id"
      >
        {{ option.nombre }} {{ option.apellidos }}
      </mat-option>
    </mat-autocomplete>
    <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</form>

<div class="p-2 d-flex justify-content-between" [class.mt-70]="sticky">
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>
      <mat-icon mat-list-icon>wc</mat-icon>
      {{ numInvitados }}
    </mat-chip>
    <mat-chip color="accent" selected>
      <mat-icon mat-list-icon>man</mat-icon>
      {{ numInvitadosHombre }}
    </mat-chip>
    <mat-chip color="primary" selected>
      <mat-icon mat-list-icon>woman</mat-icon>
      {{ numInvitadosMujer }}
    </mat-chip>
  </mat-chip-list>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>
      <mat-icon mat-list-icon>forward_to_inbox</mat-icon>
      {{ numInvitadosEnviado }}
    </mat-chip>
    <mat-chip>
      <mat-icon mat-list-icon>task_alt</mat-icon>
      {{ numInvitadosConfirmado }}
    </mat-chip>
    <mat-chip>
      <mat-icon mat-list-icon>highlight_off</mat-icon>
      {{ numInvitacionesRechazadas }}
    </mat-chip>
  </mat-chip-list>
</div>

<mat-selection-list #persona [multiple]="false">
  <mat-divider></mat-divider>
  <div *ngFor="let invitado of invitados">
    <mat-list-option [value]="invitado" (click)="goToEdit(invitado)">
      <mat-list-item>
        <div mat-list-icon class="avatar">
          {{ invitado.nombre[0] }}
        </div>
        <mat-icon
          color="primary"
          *ngIf="invitado.invitado && !invitado.confirmado && !invitado.rechazado">
          forward_to_inbox
        </mat-icon>
        <mat-icon *ngIf="invitado.confirmado && !invitado.rechazado" class="text-success">task_alt</mat-icon>
        <mat-icon *ngIf="invitado.rechazado" color="warn">highlight_off</mat-icon>
        <div mat-line>{{ invitado.nombre }} {{ invitado.apellidos }}</div>
        <div mat-line>
          <mat-chip (click)="goToEdit(invitado)">{{
            invitado.parentesco
          }}</mat-chip>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list-option>
    <ng-template #content>
      <mat-list-option [value]="invitado" (click)="goToEdit(invitado)">
        <mat-list-item>
          <mat-icon mat-list-icon *ngIf="invitado.invitado" class="text-info">
            forward_to_inbox
          </mat-icon>
          <mat-icon
            mat-list-icon
            *ngIf="invitado.confirmado"
            class="text-success"
            >verified</mat-icon
          >
          <div mat-line>{{ invitado.nombre }} {{ invitado.apellidos }}</div>
          <div mat-line>{{ invitado.parentesco }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list-option>
    </ng-template>
  </div>
</mat-selection-list>

<app-bottom-nav></app-bottom-nav>
