<h1 style="font-size: xx-large;" class="mt-0 p-3 pb-0">Lista de invitados</h1>

<div class="d-flex justify-content-start align-items-center bg-white" #formSearchContainer style="padding-left: 10px;" [class.sticky]="sticky">
  <mat-icon class="ml-3 search-icon">search</mat-icon>
  <form class="form-filter w-100">
    <mat-form-field
      class="form-filter-full-width"
      appearance="fill"
      #formSearch
    >
      <mat-label> Buscar invitado </mat-label>
      <input
        type="text"
        placeholder="Invitado"
        aria-label="Invitado"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autocapitalize="true"
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="filterInvitados($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.id"
        >
          {{ option.nombre }} {{ option.apellidos }}
        </mat-option>
      </mat-autocomplete>
      <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>

<div class="p-3 d-flex justify-content-between bg-white" [class.mt-70]="sticky" [class.sticky]="sticky" [class.shadow-bar]="sticky">
  <mat-chip-list aria-label="Count">
    <mat-chip>
      <mat-icon mat-list-icon>group_work</mat-icon>
      {{ numInvitados }}
      <mat-icon mat-list-icon color="warn">male</mat-icon>
      {{ numInvitadosHombre }}
      <mat-icon mat-list-icon color="primary">female</mat-icon>
      {{ numInvitadosMujer }}
    </mat-chip>
  </mat-chip-list>
  <mat-chip-list aria-label="Stats">
    <mat-chip>
      <mat-icon mat-list-icon color="primary">forward_to_inbox</mat-icon>
      &nbsp;{{ numInvitadosEnviado }}&nbsp;
      <mat-icon mat-list-icon class="text-success">task_alt</mat-icon>
      &nbsp;{{ numInvitadosConfirmado }}&nbsp;
      <mat-icon mat-list-icon color="warn">highlight_off</mat-icon>
      &nbsp;{{ numInvitacionesRechazadas }}&nbsp;
    </mat-chip>
  </mat-chip-list>
</div>

<mat-selection-list #persona [multiple]="false" [class.mt-150]="sticky">
  <mat-divider></mat-divider>
  <div *ngFor="let invitado of invitados">
    <mat-list-option [value]="invitado" (click)="goToEdit(invitado)">
      <mat-list-item>
        <div mat-list-icon class="avatar">
          {{ invitado.nombre[0] }}
        </div>
        <mat-icon
          color="primary"
          *ngIf="invitado.invitado && !invitado.confirmado && !invitado.rechazado">
          forward_to_inbox
        </mat-icon>
        <mat-icon *ngIf="invitado.confirmado && !invitado.rechazado" class="text-success">task_alt</mat-icon>
        <mat-icon *ngIf="invitado.rechazado" color="warn">highlight_off</mat-icon>
        <div mat-line>{{ invitado.nombre }} {{ invitado.apellidos }}</div>
        <div mat-line>
          <mat-chip (click)="goToEdit(invitado)">{{
            invitado.parentesco
          }}</mat-chip>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list-option>
    <ng-template #content>
      <mat-list-option [value]="invitado" (click)="goToEdit(invitado)">
        <mat-list-item>
          <mat-icon mat-list-icon *ngIf="invitado.invitado" class="text-info">
            forward_to_inbox
          </mat-icon>
          <mat-icon
            mat-list-icon
            *ngIf="invitado.confirmado"
            class="text-success"
            >verified</mat-icon
          >
          <div mat-line>{{ invitado.nombre }} {{ invitado.apellidos }}</div>
          <div mat-line>{{ invitado.parentesco }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list-option>
    </ng-template>
  </div>
</mat-selection-list>

<app-bottom-nav></app-bottom-nav>
