$primaryColor: #673ab7;

.form-filter-full-width {
  width: 100%;
  background-color: #fff;
}

.mt-70 {
  margin-top: 70.5px;
}
.mt-150 {
  margin-top: 150px;
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.shadow-bar {
  box-shadow: 0px 13px 10px -13px rgb(0 0 0 / 20%);
  transition: box-shadow;
  transition-duration: 0.2s;
}

.table-list {
  width: 100%;
}

tr.mat-row,
tr.mat-footer-row {
  cursor: pointer;
  &:hover {
    background: #f1f3f4;
  }
}

.search-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: lighten($color: #000000, $amount: 70);
}

::ng-deep .field-search .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 10px !important;
}

::ng-deep .field-search .mat-form-field-wrapper {
  padding: 1em !important;
}

::ng-deep .field-search .mat-form-field-underline {
  display: none;
}

.avatar {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50px;
  border: 2px solid $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primaryColor;
  background-color: lighten($color: $primaryColor, $amount: 48);
}
.mat-list-base .mat-list-item .mat-list-item-content-reverse,
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
  padding: 0 !important;
}

.footer {
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0;
  box-shadow: 0px -5px 5px -3px rgb(0 0 0 / 20%),
    0px -8px 10px 1px rgb(0 0 0 / 14%), 0px -3px 14px 2px rgb(0 0 0 / 12%);

  .btn-add {
    margin-top: -2em;
    background-color: #69f0ae !important;
  }
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -2px !important;
  right: -1.7rem;
}

.no-results-title {
  margin-top: 0.5em;
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
  color: #d0d0d0;
}

.no-results-subtitle {
  text-align: center;
  color: #c0c0c0;
}

::ng-deep .mat-tab-label {
  min-width: 120px !important;
  padding-right: 3.5em !important;
}

.no-results-img {
  max-width: -webkit-fill-available;
  max-width: fill-available;
  max-width: -moz-available;
}

.subtitle-list-item {
  padding: 0.4rem;
  background-color: #e1e1e1;
  border-radius: 10px;
  color: #797979;
}

.desglose-chip{
  //background-color: $primaryColor;
  border-radius: 100px;
  color: $primaryColor;
  border: 2px solid $primaryColor;
  padding: 0.2em 0.7em;
  margin: 0 0.2em;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse{
  padding: 0 !important;
}
