*{
    overflow-y: unset;
}

button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-primary, button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-accent, button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-warn{
    width: 100%;
    position: sticky;
    bottom: 0;
}

snack-bar-container.mat-snack-bar-container.ng-tns-c81-7.ng-trigger.ng-trigger-state.mat-snack-bar-center.ng-star-inserted {
    background-color: dodgerblue !important;
}

.blue-snackbar {
    background: #2196F3;
  }