*{
    overflow-y: unset;
}

button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-primary, button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-accent, button.mat-focus-indicator.mat-flat-button.mat-button-base.mat-warn{
    width: 100%;
    position: sticky;
    bottom: 0;
}

.btn-add-grupo{
    text-align: left;
    width: 100%;
}