<form class="row g-3 mx-3 my-3" (ngSubmit)="onSave()" [formGroup]="invitadoForm">
  <div class="col-md-6">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="nombre" placeholder="Ej. Harry" id="inputNombre" />
      <mat-error *ngIf="invitadoForm.get('nombre')?.errors?.required">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="col-md-6">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input type="text" matInput formControlName="apellidos" placeholder="Ej. Potter" id="inputApellido" />
    </mat-form-field>
  </div>

  <div class="col-md-4">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Parentesco</mat-label>
      <mat-select formControlName="parentesco" id="inputParentesco" [(ngModel)]="parentescoInvitado">
        <mat-option *ngFor="let item of parentescoList" [value]="item">{{
          item
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-4">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Clasificacion</mat-label>
      <mat-select formControlName="clasificacion" id="inputClasificacion" [(ngModel)]="clasificacion">
        <mat-option *ngFor="let item of clasificacionList" [value]="item">{{
          item
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-4">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo" id="inputSexo" [(ngModel)]="sexoInvitado">
        <mat-option *ngFor="let item of sexoList" [value]="item">{{
          item
          }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-4">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Ubicacion</mat-label>
      <input type="text" matInput formControlName="ubicacion" placeholder="Ej. Hogwarts" id="inputUbicacion" />
    </mat-form-field>
  </div>

  <div class="col-md-4 mb-4">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>groups</mat-icon>
          </mat-panel-title>

          <mat-panel-description>
            <span *ngIf="grupoSelected != undefined">{{ grupoSelected.descripcion }}</span>
            <span *ngIf="grupoSelected == undefined">Selecciona un grupo</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-selection-list *ngIf="grupos" #groups [multiple]="false">
          <mat-list-option (click)="openDialog()">
            <mat-icon mat-list-icon style="display: contents;">add</mat-icon> Añadir grupo
          </mat-list-option>

          <mat-list-option (click)="openBottomSheet()">
            <mat-icon mat-list-icon style="display: contents;">list</mat-icon> Seleccionar grupo
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-12 m-2 d-flex justify-content-between" *ngIf="stateForm === states.edit && persona.grupo != 'hUNpRRMnt5nL3kuz0yiK'">
    <h3 class="m-0 p-0 align-self-center">Invitar a todo el grupo</h3>
    <button
      type="button"
      mat-stroked-button
      (click)="changeInvite(persona.grupo, true)">
      Invitar
    </button>
  </div>

  <mat-divider *ngIf="stateForm === states.edit && persona.grupo != 'hUNpRRMnt5nL3kuz0yiK'"></mat-divider>
  <div class="col-12 m-2 d-flex justify-content-between" *ngIf="stateForm === states.edit && persona.grupo != 'hUNpRRMnt5nL3kuz0yiK'">
    <h3 class="m-0 p-0 align-self-center">Quitar invitación al grupo</h3>
    <button
      type="button"
      mat-stroked-button
      (click)="changeInvite(persona.grupo, false)">
      No invitar
    </button>
  </div>

  <mat-divider></mat-divider>
  <div class="col-12 m-2 d-flex justify-content-between">
    <h3 class="m-0 p-0">Invitado</h3>
    <mat-slide-toggle formControlName="invitado" color="primary"></mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>
  <div class="col-12 m-2 d-flex justify-content-between">
    <h3 class="m-0 p-0">Confirmado</h3>
    <mat-slide-toggle formControlName="confirmado" color="primary"></mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>
  <div class="col-12 m-2 d-flex justify-content-between">
    <h3 class="m-0 p-0">Rechazado</h3>
    <mat-slide-toggle formControlName="rechazado" color="warn"></mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>
  <div class="col-12 mt-5">
    <button type="submit" mat-flat-button *ngIf="stateForm === states.new" color="primary">
      Añadir invitado
    </button>

    <button type="submit" mat-flat-button *ngIf="stateForm === states.edit" color="accent">
      Editar invitado
    </button>
  </div>

  <div class="col-12 mt-3 mb-3">
    <button type="button" mat-flat-button *ngIf="stateForm === states.edit" color="warn"
      (click)="goToDelete(persona.id)">
      Borrar invitado
    </button>
  </div>
</form>