nav {
    border-right: 1px solid transparent;
    grid-area: navp;
    max-width: 394px;
    min-width: 256px;
    overflow: hidden;

    a {
        color: #5f6368;
        font-weight: 500;
    }
}