<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Apellidos</mat-label>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          
        </button>
      </mat-form-field>
  </mat-form-field>
</div>
