<h1 mat-dialog-title class="d-flex align-items-center">
  <mat-icon mat-list-icon *ngIf="data.openBy === openBy.resetPassword">lock</mat-icon> 
  {{data.title}}
</h1>
<span class="titleSpan">{{data.data}}</span>
<p class="mt-3 subtitleTex" *ngIf="data.openBy === openBy.resetPassword">
  <strong>ATENCIÓN:</strong> Por motivos de seguridad se va a cerrar tu sesión actual al pulsar sobre el botón recuperar.
</p>
<p class="mt-3 subtitleTex">{{data.subtitle}}</p>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-stroked-button color="warn" [mat-dialog-close]="true" cdkFocusInitial *ngIf="data.openBy === openBy.delete">Eliminar</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true" cdkFocusInitial *ngIf="data.openBy === openBy.resetPassword">
    <mat-icon mat-list-icon>key</mat-icon> 
    <strong>
      Recuperar
    </strong>
  </button>
</div>